html {
  font-size: 14px;
  font-family: Input, monospace;
}

body {
  font-size: 1em;
}

h1 {
  font-size: 3rem;
  line-height: 4rem;
}

h2 {
  font-size: 2rem;
  line-height: 3rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

p {
  line-height: 2em;
}

@media all AND (min-width: 430px) {
  html {
    font-size: 16px;
  }
}

@media all AND (min-width: 500px) {
  html {
    font-size: 18px;
  }
}