.notification {
  position: fixed;
  display: block;
  opacity: 1;
  padding: .5rem;
  top: 0;
  left: 0;
  right: 0;
  background-color: hsl(0, 0%, 70%);
  transition: opacity .2s;
}

.notification--warning {
  background-color: hsl(30, 50%, 50%);
  color: hsl(0, 0%, 95%);
}

.notification--error {
  background-color: hsl(0, 50%, 50%);
  color: hsl(0, 0%, 95%);
}

.notification--remove {
  opacity: 0;
}

.notification__text {
  line-height: 2rem;
}

.notification__close {
  position: absolute;
  text-decoration: none;
  color: inherit;
  right: 1rem;
  top: 1rem;
}