.camCatcher {
  position: relative;
  width: 100vw;
  height: 80vw;
  margin-left: -1rem;
  margin-bottom: 2rem;
}

.camCatcher__video {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
}

.camCatcher__trigger {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: 8rem;
  height: 2rem;
}